apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sentry-postgres-pvc
  namespace: cuet-app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: standard
