apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: cuet-app
  labels:
    app: backend
spec:
  replicas: 2
  revisionHistoryLimit: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: cuet-backend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3847
          name: http
        env:
        - name: NODE_ENV
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: NODE_ENV
        - name: BACKEND_PORT
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: BACKEND_PORT
        - name: MONGO_URI
          valueFrom:
            configMapKeyRef:
              name: mongodb-config
              key: MONGO_URI
        - name: MONGO_DATABASE
          valueFrom:
            secretKeyRef:
              name: mongodb-secret
              key: database
        - name: MONGO_INITDB_ROOT_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongodb-secret
              key: username
        - name: MONGO_INITDB_ROOT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongodb-secret
              key: password
        - name: MINIO_ENDPOINT
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: MINIO_ENDPOINT
        - name: MINIO_PORT
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: MINIO_PORT
        - name: ELASTICSEARCH_NODE
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: ELASTICSEARCH_NODE
        resources:
          requests:
            cpu: 250m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 512Mi
        livenessProbe:
          httpGet:
            path: /api/health
            port: 3847
          initialDelaySeconds: 40
          periodSeconds: 30
          timeoutSeconds: 3
        readinessProbe:
          httpGet:
            path: /api/health
            port: 3847
          initialDelaySeconds: 20
          periodSeconds: 10
          timeoutSeconds: 3
