apiVersion: apps/v1
kind: Deployment
metadata:
  name: sentry-redis
  namespace: cuet-app
  labels:
    app: sentry-redis
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sentry-redis
  template:
    metadata:
      labels:
        app: sentry-redis
    spec:
      containers:
      - name: redis
        image: redis:alpine
        ports:
        - containerPort: 6379
          name: redis
        resources:
          requests:
            cpu: 250m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 256Mi
        livenessProbe:
          exec:
            command:
            - redis-cli
            - ping
          initialDelaySeconds: 10
          periodSeconds: 10
