apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: cuet-app
  labels:
    app: backend
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
  - port: 3847
    targetPort: 3847
    protocol: TCP
    name: http
