apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: cuet-app
  labels:
    app: gateway
spec:
  type: ClusterIP
  selector:
    app: gateway
  ports:
  - port: 5921
    targetPort: 5921
    protocol: TCP
    name: http
