apiVersion: v1
kind: Service
metadata:
  name: mongodb-service
  namespace: cuet-app
  labels:
    app: mongodb
spec:
  type: ClusterIP
  selector:
    app: mongodb
  ports:
  - port: 27017
    targetPort: 27017
    protocol: TCP
    name: mongodb
